* {
    padding: 0;
    margin: 0;
}

.input-field {
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 20px;
   padding-right: 200px;
   border-radius: 10px;
   border: none;
   outline: 0;
}

.input-field:focus {
    border: none;
    outline: none;
}

.profile-image {
    background-color: #fff;
    border-radius: 50%;
    width: 35px;
}

.sidebar {
    display: flex;
    margin-bottom: 30px;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    padding-left: 30px;
    padding-right: 30px;

    align-items: center;
    justify-content: space-between;
    outline: none;
    border:none;

    background-color: #1a1919;
    color: white;
    font-weight: bold;
    font-size: 15px;

    margin-left: 40px;
}


.sidebar:hover{ 
    background-color: rgb(243, 21, 3);
    padding-left: 30px;
    padding-right: 30px;
}

.link-style {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.react-player { 
    height: 100% !important;
    width: 100% !important;
}

.comment-section {
    margin-top: 20px;
    padding-top: 20px;
}